/* Regole generali della pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999;
}

/* Navigazione Principale */

.bluescuro{
  background-color: #2c3e50;
}

.contenitore-nav{
  color: white;
  line-height: 100px;
}

.center-line{
  line-height: 100px;
  text-align: center;

}

.parte-line{
  text-align: center;
}

.parte-line h5{
  display: inline-block;
  padding-right: 5%;
  font-size: 18px;
}

.parte-line a {
  text-decoration: none;
  color: white;
}

.testo-decorativo a{
text-decoration: none;
color: white;
}

/* Corpo della pagina */

.back-white{
  background-color: white;
}

.back-blue{
  background-color: #2c3e50;
}

/* Chi Sono */

.green{
  background-color: #1abc9c;
}

.center-line{
  text-align: center;
}

 .center-line img{
  margin: 10% 0 2% 0;
  max-height: 250px;
}

.center-line h2{
  color: white;
  font-size: 60px;
}

.center-line h4{
  color: white;
  padding: 10px 0 80px 0;
  font-size: 20px;
}

/* Stella */

.icon-line-white{
  text-align: center;
}

.icon-line-white div{
  display: inline-block;
}

.icon-line-white i{
  color: white;
  font-size: 30px;
  margin: 0 2%;
}

.line-hr{
  height: 4px;
  width: 6%;
  border-radius: 10px;
}

/* Portfolio */
.port-margin{
  margin-top: 70px;
}

.bluescuro-text{
  color: #2c3e50;
}

.bluescuro-text{
  font-size: 40px;
}

.icon-line-blue{
  text-align: center;
}

.icon-line-blue div{
  display: inline-block;
}

.icon-line-blue i{
  color: #2c3e50;
  font-size: 30px;
  margin: 0 2%;
}



/* Footer */
