/* Regole generali della pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

img{
  border-radius: 2%;
  margin-bottom: 3%;
  max-height: 250px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999;
}

.white{
  color: white;
}

/* Navigazione Principale */

.blu{
  background-color: #2c3e50;
}

.contenitore-nav{
  color: white;
  line-height: 100px;
}

.center-line{
  text-align: center;
}

.line-alta{
  line-height: 100px;
}

.parte-line{
  text-align: center;
}

.parte-line h5{
  display: inline-block;
  padding-right: 5%;
  font-size: 18px;
}

.parte-line a {
  text-decoration: none;
  color: white;
}

.testo-decorativo a{
text-decoration: none;
color: white;
}

.verde-visible:hover{
  color:#1abc9c;
}

/* Corpo della pagina */

.back-white{
  background-color: white;
}

.back-blue{
  background-color: #2c3e50;
}

/* Chi Sono */

.verde{
  background-color: #1abc9c;
}

.center-line{
  text-align: center;
}

.avatar-size{
  margin: 10% 0 2% 0;
  max-height: 250px;
}

.font-white{
  color: white;
  font-size: 50px;
}

 .bianco{
  color: white;
  font-size: 20px;
}

/* Stella */

.icon-line-white{
  text-align: center;
}

.icon-line-white div{
  display: inline-block;
}

.icon-line-white i{
  color: white;
  font-size: 30px;
  margin: 0 15px;
}

.line-hr{
  height: 4px;
  width: 9%;
  border-radius: 10px;
}

/* Portfolio */

.margin-bottom{
  margin-bottom: 70px ;
}

.bluescuro-text{
  color: #2c3e50;
  font-size: 40px;
}

.icon-line-blue{
  text-align: center;
}

.icon-line-blue div{
  display: inline-block;
}

.icon-line-blue i{
  color: #2c3e50;
  font-size: 30px;
  margin: 0 15px;
}

/* About */

.padding-fix{
  padding: 60px 0;
}

.scarica-soft{
  margin-top: 30px;
}

.scarica-soft a{
  text-decoration: none;
}

.scarica-dow{
  font-size: 20px;
  color: white;
  padding: 15px 25px;
  border: 2px solid white;
  border-radius: 10px;
}

.scarica-dow span{
  margin-left: 10px;
}

.scarica-dow:hover{
  background-color: white;
  color: black;
}

.scarica-dow span:hover{
  background-color: white;
}

/* Contact Me */

.form-sviluppo input{
  font-size: 21px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(108, 117, 125, 0.21);
  width: 80%;
  margin: 0 10%;
  height: 100px;
}

.form-sviluppo textarea{
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.8);
  font-size: 21px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(108, 117, 125, 0.21);
  width: 80%;
  margin: 0 10%;
  height: 200px;
}

.button-send{
  font-size: 19px;
  padding: 10px 20px;
  background-color: #159a80;
  margin: 0 10%;
}

.center-fix button{
  text-align: none;
}

/* Footer */
footer{
  color: white;
}

/* About Informazioni Generali */

.font-grand{
  font-size: 25px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.font-free{
  font-size: 19px;
}

.font-free a{
  color: rgba(23, 175, 144, 0.8);
}

.font-pic{
  font-size: 19px;
}

.icone i{
  max-height: 55px;
  max-width: 55px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  color: white;
  font-size: 20px;
}

.icone a{
  padding: 0 5px;
}

.icone i:hover{
background-color: white;
color: #212529;
}

/* Copyright */

.blue-scuro{
 background-color: #1a252f;
}

.pad-fix2{
  padding: 30px 0;
}
